.slider{
  height: calc(100vh - 470px );
   position: relative;
 
   overflow: hidden;
}

.slide{
    
font-family: "Roboto _Nusx";
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: justify;
background: white;
    padding: 160px 250px;
    transition: 0.5s ease;
    /* display: flex;justify-content: center;
    align-items: center; */
    flex-direction: column;
    top: 0;
    left: 0;
    font-family: "Roboto _Nusx";
font-size: 14px;
font-weight: normal;
line-height: 20px;
text-align: left;
color: #7a7a7a;
}
#next, #prev{
    position: absolute;
    top: 40%;
    color:white;
    background: transparent;
    border-radius: 50px;
   padding: 20px 25px;
    border: 1px solid black;
    font-size: 16px;
    left: 50px;
    color: black;
    cursor: pointer;
    transition: 250ms ease;
}
#next{
    left: unset;
    right: 50px;
}
#prev:hover{
    background-color: #224862;
    color: white;
}
#next:hover{
    background-color: #224862;
    color: white;
}
#next:hover{
    background-color: #224862;
}
.slider-container{
    position: relative;
    width: 100%
}
.slider-actions{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: -185px;
}
.slider-actions button{
    background: white;
    border-bottom:1ps solid #707070;
    outline: none;
    border-radius: 25px;
    padding: 12px 25px;
    z-index: 1000;
    color: #224862;
    cursor: pointer;
}
@media (width < 798px){
    .slider-container{
        margin-top: -100vh;
     min-height: 200px
        
    }
    .slider{
        height: 100vh;
    }
    .slide{
        padding: 5px;
        vertical-align: bottom;
        margin-top: 10px;
        min-height: 200px;
        height: 100%;
        background-color: white;
    }
    .slider-actions{
        position: absolute;
        bottom:0 ;
        /* background-color: red; */
        height: 70px;
        display: flex;
        justify-content: center;
        gap: 0;
    }
    .slider-actions > button{
      flex: 1;
      height: 100%;
      border-radius: 0;
      border: none;
      width: 100%;
      transition: 350ms;
     display: block;
      
    }
    .slider-actions > button:hover{
     background-color: #224862;
     color: white;
     
      
    }
    .slider-actions > button:nth-child(2){
    border-inline: 1px solid  #224862;;
      
    }
    #next, #prev{
        display: none;
     
    }

}
