.hero-image{
  display: flex;
  width: 100vw;
  margin-top: 400px;
  height: 100vh ;
  scroll-snap-align: center;

  /* margin-top: 170px; */
}
.main-page-logo{
  width: 100px;
  height: 100px;
  position: absolute;
  top: 20px;
  left: 20px;
  display: grid;place-items: center;
  z-index: 99;
}
.hero-image img{
  /* margin-top: 160px; */
  width: 100%;
  /* object-fit: c; */
  height: 100%;
}
  .hero-wrapper {
  
    scroll-snap-align: center;
  }
  

  .projects-container,
  .lang-list {
    display: flex;
    font-family: "Roboto _GEO Mt";
  }
  
 

/* slider start */


.projects {
  height: 100vh;
  display: grid;
  place-items: center;
  overflow: hidden;
  font-family: "Roboto _GEO Mt";
}

.projects main {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0 3px 10px rgba(0,0,0,0.3);
}

.item {
  width: 200px;
  height: 300px;
  list-style-type: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  background-position: center;
  background-size: contain;
  border-radius: 20px;
  box-shadow: 0 20px 30px rgba(255,255,255,0.3) inset;
  transition: transform 0.5s, left 1.25s,  width 1.75s;

  &:nth-child(1){
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: none;
    border-radius: 0;
    box-shadow: none;
    opacity: 1;
  }

  &:nth-child(2) { left: 50%; }
  &:nth-child(3) { left: calc(50% + 220px); }
  &:nth-child(4) { left: calc(50% + 440px); }

}

.content {
  width: min(30vw,400px);
  position: absolute;
  top: 50%;
  left: 3rem;
  transform: translateY(-50%);
  font: 400 0.85rem helvetica,sans-serif;
  color: white;
  text-shadow: 0 3px 8px rgba(0,0,0,0.5);
  opacity: 0;
  display: none;

  & .title {
    font-family: 'arial-black';
    text-transform: uppercase;
  }

  & .description {
    line-height: 1.7;
    margin: 1rem 0 1.5rem;
    font-size: 0.8rem;
  }

  & a {
    width: fit-content;
    background-color: rgba(0,0,0,0.1);
    color: white;
    border: 2px solid white;
    border-radius: 0.25rem;
    padding: 0.75rem;
    cursor: pointer;
    transition: 350ms ease;
  }
  & a:hover{
    background: #224862;
    color: white;
    
    margin-left: 10px;
  }
}

.item:nth-of-type(1) .content {
  display: block;
  animation: show 1.25s ease-in-out 0.3s forwards;
}

@keyframes show {
  0% {
    filter: blur(5px);
    transform: translateY(calc(-50% + 75px));
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

.project-buttons {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  user-select: none;

  & .btn {
    background-color: rgba(255,255,255,1);
    color: rgba(0,0,0,0.7);
    
    margin: 0 0.25rem;
    padding: 0.75rem;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      background-color:#224862;
    }
  }
}

@media (width > 650px) and (width < 900px) {
  .content {
    & .title        { font-size: 1rem; }
    & .description  { font-size: 0.7rem; }
    & button        { font-size: 0.7rem; }
  }
  .item {
    width: 160px;
    height: 270px;

    &:nth-child(2) { left: 50%; }
    &:nth-child(3) { left: calc(50% + 170px); }
    &:nth-child(4) { left: calc(50% + 340px); }
 
  }
}

@media (width < 650px) {
  .content {
    & .title        { font-size: 0.9rem; }
    & .description  { font-size: 0.65rem; }
    & button        { font-size: 0.7rem; }
  }
  .item {
    width: 130px;
    height: 220px;

    &:nth-child(2) { left: 50%; }
    &:nth-child(3) { left: calc(50% + 140px); }
    &:nth-child(4) { left: calc(50% + 280px); }

  }
}
/* sldir finsih ////////////////////////////////////////////////////////*/

  .about-us-wrapper {
    scroll-snap-align: start;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items:center;
    justify-content: center;
    position: relative;
    scroll-snap-align: center;
    /* margin-top: 70px; */
  }
  .about-us-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    max-width: 1080px;
    width: 100%;
    margin-left: 150px;
    /* margin-top: 110px; */
   
  }
  .about-company {
    margin-bottom: 40px;
  }
  .about-us-container h4 {
    margin-bottom: 15px;
    font-size: 18px;
  }
  .about-us-container p {
    
font-family: "Roboto _Nusx";
    font-style: 16px;
    letter-spacing: 1.25px;
  }
  .sidenav {
    width: 122px;
    min-height: 100vh;
    height: 100%;
    background-color: #224862;
    position: absolute;
    left: 280px;
    top: 0;
    z-index: 1;
  }
  
  .sidenav-indicators {
    display: flex;
    position: absolute;
    bottom: 78px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    left: 48px;
  }
  .sidenav span {
    position: absolute;
    
font-family: "Roboto _GEO Mt";
    rotate: -90deg;
    width: 250px;
    margin-left: -70px;
    font-weight: normal;
    font-style: normal;
    font-size: 30px;
    color: white;
  
    margin-top: 48vh;
  }
  .sidenav-indicators img {
    width: 26px;
    height: 48px;
    margin-top: 18px;
  }
  .sidenav-indicators p {
    color: grey;
  }
  .sidenav-indicators .s1 {
    color: white;
  }
  
  .news-wrapper {
    scroll-snap-align: start;
    width: 100%;
    min-height:100vh;
    padding: 0px 60px 0 60px;
    position: relative;
    margin: auto;
    scroll-snap-align: center;
    display: flex;align-items: center;justify-content: center;
  }
  .news-container {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-left: 150px;
    gap: 10px;
    max-width: 1280px;
    width: 100%;
  
    flex-wrap: wrap;
  }
  .news-card {
    width: 250px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.05);
    opacity: 0.5;
    transition: 550ms ease;
  }
  .news-card-img {
    height: 164px;
    width: 100%;
  }
  .news-card-text {
    font-family: "Roboto _Nusx";
    padding: 20px 15px;
    text-align: left;
  }
  .news-card-text h4 {
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    margin-bottom: 20px;
    position: relative;
  
    color: #224862;
  }
  .news-card-text h4::after {
    position: absolute;
    content: "";
    bottom: -10px;
    left: 0;
    width: 12%;
    height: 5px;
    background-color: #224862;
  }
  .news-card-text p {
    color: #7a7a7a;
    font-size: 14px;
  }
  .news-card-text img {
    width: 5px;
    margin-right: 110px;
  }
  .news-card-link {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
  }
  
  .news-card:hover {
    box-shadow: 0px 3px 7.5px rgba(34, 72, 98, 0.3);
    opacity: 1;
    cursor: pointer;
  }
  .contacts-wrapper{
    font-family: "Roboto _GEO Mt";

      width: 100%;
      height:100vh ;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 150px 280px 0 280px;
      position: relative;
      z-index: 2;
  }
  .contacts-container{
      max-width: 880px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 50px;
      align-items: center;
  }
  form{
      display: flex;
      align-items: start;
      flex-direction: column;
      gap: 20px;
      z-index: 1;
  }
  
  form input{
    border: none;
    background: none;
    border-bottom: 1px solid #224862;
    padding: 10px;
    color: #224862;
    outline: none;
    
  }
  form button{
    background: #224862;
    padding: 10px 12px;
    color: white;
    border-radius: 10px;
    width: 150px;
    font-weight: bold;
  }
  .contact-info{
      display: flex;
      flex-direction: column;
      gap: 40px;
      color: #224862;
  }
  .contact-info img{
      width: 20px;
      height: 20px;
  }
  .contact-info div {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 20px;
  }
  
  #map{
      position: absolute;
      width: 100% !important;
      height: 100% !important;
      top: 0;
      left: 0;
      opacity: 0.5;
    
  
  }
  .contacts-location-indicator{
    z-index: -1;
    width: 200px;
    height: 200px;
  }
  .hero-wrapper,
.about-us-wrapper,
.news-wrapper,
.contacts-wrapper
{
  scroll-snap-align: center;
  /* scroll-margin-block-start: 310px; */
}

.about-us-wrapper{
  scroll-margin-block-start: 0px;
  
}
.news-wrapper{
    scroll-margin-block-start: 70px;

}

  

  @media only screen and (max-width: 1700px) {
  
   .news-wrapper{
    padding: 100px;
    padding-left: 175px;

   }
  
   
   }
  @media only screen and (max-width: 1600px) {
  
    .sidenav{
      left: 150px;
    }
    .about-us-container{
      padding: 50px;
    }
    .news-wrapper{
      padding: 50px
  
     }
    
   
   }
  @media only screen and (max-width: 1371px) {
  
    .sidenav{
      left: 100px;
    }
    .about-us-container{
      padding-inline: 100px;
    }
    
   
   }
   @media only screen and (max-width: 1071px) {
    .sidenav{
      left: 50px;
    }
    .about-us-container{
      padding-inline: 50px;
    }
   
    }
    @media (width < 981px) {
    .about-us-container p{
      font-size: 12px;
    }
      
     
      
    }
    @media (width < 856px) {
    .news-wrapper{
      padding: 10px;
      height: 100%;
      width: 100%;
    }
    .item{
      transition: transform 0.9s,  height 1.75s;
      background-repeat: no-repeat;
      background-size: cover;

    }
      
     
      
    }
    @media (width < 750px) {
   .sidenav{
    display: none;
   }
   .news-container,.about-us-container,.contacts-container{
    margin-left: 0;
   }
   .contacts-wrapper{
    padding: 10px 30px;
   }
      .news-card-text p {
        font-size: 12px;
      }
     
      
    }
    @media (width < 590px) {
  .about-us-container{
    padding: 10px 15px;
    gap: 10px;

  }
  .about-us-container h4{
    font-size: 16px;
  }
  .news-card-text{
    padding: 10px;
  }
      
  .news-container{
    flex-wrap: nowrap;
    overflow-x: scroll;
    justify-content: start;
    height: 90%;
  
  }
  .news-card{
    width: 400px !important;
    margin-left: 5px;

  }
  .news-card-link{
    width: 100%;
    display: flex;
    height: 10px;
    justify-content: center;
    align-items: center;
  }
  .news-card-link a{
    width: 100px;
  }
     
      
    }
    @media (width < 480px) {
  .about-us-container{
    padding: 10px 15px;
    gap: 10px;

  }
  .about-us-container p{
    font-size: 10px;
  }
      
     
      
    }
    