* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  scroll-behavior: smooth;

  scroll-snap-type: y mandatory;
}
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
img {
  width: 100%;
  height: 100%;
}
.nav-container {
  height: 160px;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 10000;
  justify-content: space-between;
  align-items: center;
  padding: 30px 280px;
  background-color: #fafafa;

  width: 100%;
}
.logo {
  width: 122px;
  height: 100px;
}
.logo img {
  width: 100%;
  height: 100%;
}
.nav-links-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  border-bottom: 5px solid rgb(201, 199, 199);
}
.nav-link a {
  width: 100%;
  display: block;
  color: #707070;
 
}
.nav-link{
  /* background: red; */
  padding: 7px 10px;
  position: relative;
  box-sizing: border-box;
}

.lang-list {
  display: flex;
  gap: 28px;
}



/* ///////////////////////////////navigation remainder, right on bottom from navigation ///////////////*/
.nav-remainder {
  position: relative;
  width: 100%;
  height: 221px;
}
.nav-remainder img {
  height: 100%;
}
.nav-remainder div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
}
.nav-remainder h3 {color: white;
  font-family: "Roboto _GEO Mt";
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 14px;
  z-index: 100;
}
.nav-remainder span{
    font-family: "Roboto _Nusx";
font-size: 14px;
font-weight: normal;
line-height: 20px;
color: grey;
}
.nav-remainder::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #224862;
  opacity: 0.7;
}


/* /////////////////////end of navigation remainder///////////////////// */



@media only screen and (max-width: 1600px) {
.nav-container{
  padding: 30px 150px;
}


.nav-links-container {

  gap: 60px;
}
}
@media only screen and (max-width: 1371px) {
.nav-container{
  padding: 30px 100px;
}.lang-list {
  display: flex;
  gap: 15px;
}
.nav-links-container {

  gap: 40px;
}
}
@media only screen and (max-width: 1071px) {
.nav-container{
  padding: 20px 50px;
}
.nav-links-container {

  gap: 30px;
}
}