
@font-face {
  font-family: "Roboto _Nusx";
  src: url('/fonts/Roboto\ _Nusx.ttf');
  src: 
       url('/fonts/Roboto\ _Nusx.ttf') format('truetype');
}

@font-face {
  font-family: "Roboto _GEO Mt";
  src: url('/fonts/Roboto_Geo_Arm_Mt_0.ttf');
  src: 
       url('/fonts/Roboto_Geo_Arm_Mt_0.ttf') format('truetype');
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
html{
  overflow: hidden;
  height: 100%
}
body {
  scroll-behavior: smooth;
  overflow-y: scroll;
  height: 100%;
  scroll-snap-type: y mandatory;
}
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
img {
  width: 100%;
  height: 100%;
}
.nav-container {
  height: 160px;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 10000;
  justify-content: space-between;
  align-items: center;
  padding: 30px 280px;
  background-color: white;

  width: 100%;
}
.logo {
  width: 122px;
  height: 100px;
}
.logo img {
  width: 100%;
  height: 100%;
}
.logo a{
  display: contents;
}
nav{
  position: relative;
  display: flex;
 
}
nav a{
  font-family: "Roboto _GEO Mt";
  height: 40px;
  text-align: center;
  box-sizing: border-box;
  


}
.nav-underline{
  transition: all 500ms ease;

}
nav a:nth-child(1){
  width: 100px;
}

nav a:nth-child(2) {
  width: 134px;
}
nav a:nth-child(2):hover ~ .nav-underline{
  left: 100px;
  width: 134px;
}
nav a:nth-child(3){
  width: 179px;
}
nav a:nth-child(3):hover ~ .nav-underline{
  left: 234px;
  width: 179px;
}
nav a:nth-child(4){
  width: 100px;
}
nav a:nth-child(4):hover ~ .nav-underline{
  left: 413px;
}
nav a:nth-child(5){
  width: 100px;
}
nav a:nth-child(5):hover ~ .nav-underline{
  left: 513px;
}

.lang-list {
  display: flex;
  gap: 28px;
}
.lang{
  color: rgb(239, 238, 238);
  cursor: pointer;
}
.lang:hover{
  color: #224862;
}
.lang-item{
  color: #224862;
}




/* ///////////////////////////////navigation remainder, right on bottom from navigation ///////////////*/
.nav-remainder {
  position: relative;
  width: 100%;
  height: 221px;
}
.nav-remainder img {
  height: 100%;
}
.nav-remainder div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
}
.nav-remainder h3 {color: white;
  font-family: "Roboto _GEO Mt";
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 14px;
  z-index: 100;
}
.nav-remainder span{
    font-family: "Roboto _Nusx";
font-size: 14px;
font-weight: normal;
line-height: 20px;
color: grey;
}
.nav-remainder::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #224862;
  opacity: 0.7;
}
nav{
  position: relative;
}
.nav-underline{
  position: absolute;
bottom:0;
left: 0;
height: 5px;
background: #224862;
transition: all 500ms ease;
width: 100px;
}



/* /////////////////////end of navigation remainder///////////////////// */



@media only screen and (max-width: 1600px) {
.nav-container{
  padding: 30px 150px;
}

}
@media only screen and (max-width: 1371px) {
.nav-container{
  padding: 30px 100px;
}.lang-list {
  display: flex;
  /* gap: 15px; */
}

}
@media only screen and (max-width: 1071px) {
.nav-container{
  padding: 20px 50px;
}

}